
.site__aside {
  grid-area: aside;
  // border-top: 1px solid #fff5db;
  background: linear-gradient($coul-jaune, transparent);
  border-radius: 100px 100px 0 0;
  padding: 1rem;
  text-align: center;
  

  .menu {
    list-style-type: none;
    padding: 0;
    column-count: 2;

    .menu-item {
      text-decoration: none;
      padding: 0.5rem;
      white-space: nowrap;
    }
  }

  @media (min-width: $largeur__bureau) {
    background: white;
    border-radius: 0 100px 0 0;
    text-align: left;

    .menu {
      column-count: 1;
    }
  }
}
