
//Gestion du menu aside

.site__aside {
  grid-area: aside;
  background: linear-gradient(var(--coul-fond-articles), transparent);
  border-radius: 100px 100px 0 0;
  padding: 1rem;
  text-align: center;
  
  .menu {
    list-style-type: none;
    padding: 0;
    column-count: 2;

    .menu-item {
      text-decoration: none;
      padding: 0.5rem;
      white-space: nowrap;
    }
  }

  @media (min-width: $largeur__bureau) {
    background: linear-gradient(var(--coul-fond-articles) 80%, transparent);
    border-radius: 0 100px 0 0;
    text-align: left;

    .menu {
      column-count: 1;
    }
  }
}
