
// Gestion mise en page générale (positionnement de l'entete, aside, main et pied de page

.site__entete {
    grid-area: entete;
}
  
.site__aside {
    grid-area: aside;
}
  
.site__main {
    grid-area: main;
}
  
.site__footer {
    grid-area: footer;
}
  
.site {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "entete entete"
        "aside aside"
        "main main"
        "footer footer";

        @media (min-width: $largeur__bureau) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
            "entete entete"
            "aside main"
            "aside main"
            "footer footer";
        }
}

.no-aside {
    @media (min-width: $largeur__bureau) {
        grid-template-columns: 100%;
        grid-template-areas:
            "entete"
            "main"
            "main"
            "footer";
    }
}