.menu-cours-container {
    .menu {
        display: flex;
        flex-direction: column;
        @media (min-width: 1030px) {
            flex-direction: row;

        }
        .menu-item {
            a {
                
                code {

                }

                p {
                    display: none;
                    @media (min-width: 1030px) {
                        display: block;
                    }
                }

            }
        }
    }
}