
main{

    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .blocflex{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 2rem;
        justify-content: center;
    
        article{
            width: 18rem;
            background-color: white;
            box-shadow: (#799ea5ae) 0px 5px 15px;
            padding: 1rem;
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
    
            h2,
            p{
                text-align: center;
            }
        }
    }

}


/*.blocflex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem;
  
    article {
      border: 1px solid #aaa;
      padding: 1rem;
    }
  }
*/
