
// Mise en page des blocs des articles 

main{

    .blocflex{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 2rem;
        justify-content: center;
    
        article{
            width: 18rem;
            background-color: var(--coul-fond-articles);
            box-shadow: (#799ea5ae) 0px 5px 15px;
            color: var(--coul-texte);
            padding: 1rem;
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;

            h2,
            h5,
            p {
                text-align: center;
            }

            h5 {
                margin: 0;
                color: var(--coul-texte);
            }

            h6 {
                margin: 0.5rem;
                color: var(--coul-texte); 
            }

            p {
                font-size: 0.8rem;
            }
        }

        .blocFlex__galerie {
            width: 100%;
            background-color: transparent;
            box-shadow: none;

            img {
                border-radius: 20px;
            }
        }
    }

}
