
// ************************************************* MENU ***************************** //

#cc-menu, .logo-menu {
    display: none;
}

.site__entete {
    $coul-jaune: #fff5db;
    $coul-bleue: #a1d0d9;
    $coul-degrade: linear-gradient(#a1d0d9, #fff5db);

    .site__entete__nav {
        display: flex;
        justify-content: space-between;
        background-color: $coul-jaune;
        border-bottom: 15px solid $coul-bleue;

        img {
            width: 3rem;
            height: 3rem;
        }

        .menu-entete-container {
            flex: 1;

            .menu  {
                display: flex;
                justify-content: space-around;
                margin: 0;
                padding: 1rem;

                a:hover, a:visited, a:link, a:active {
                    text-decoration: none;
                    padding: 0.75rem;
                    transition: 0.5s;
                    overflow: hidden;
                    position: relative;
                }

                a::before {
                    content: '';
                    position: absolute;
                    background-color: $coul-bleue;
                    width: 100%;
                    height: 30%;
                    top: 115%;
                    left: 0;
                    border-radius: 8px 8px 0 0;
                    transition: 0.5s;
                }

                a:hover::before {
                    transform: translateY(-8px);
                }
        
                li {
                    list-style: none;
                }

            }
        }

        .recherche {
            display: flex;
            align-items: center;
            width: 15rem;
            padding-right: 1rem;

            label {
                border: 2px solid $coul-bleue;
                border-radius: 50px;
                height: 1.5rem;
                width: 1.5rem;
                padding: 3.5px;
                display: flex;
                align-items: center;
                position: relative;
                transition: width 0.3s ease-in-out;
                overflow: hidden;

                .recherche__input {
                    flex-grow: 1;
                    border: 0;
                    padding: 1rem;
                    background-color: transparent;
                    color: rgb(133, 133, 133);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    cursor: pointer;

                    &:focus {
                        outline: 0;
                    }
                }

                .recherche__bouton {
                    cursor: pointer;
                    border: 0;
                    background-color: transparent;
                    color: $coul-bleue;
                    border-radius: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    font-size: 0.8rem;
                    margin-left: auto;
                    transition: 0.1s ease-in-out
                }

                &:focus-within {
                    width: 100%;

                    .recherche__input {
                        opacity: 1;
                        cursor: initial;
                    }

                    .recherche__bouton {
                        background-color: $coul-bleue;
                        color: $coul-jaune;
                    }
                }
            }
        }
    }

    .site__entete__titre {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1, h2 {
            margin: 1rem 0 0 0;
        }
    }
}


/*.menu-entete-container{
    flex: 1;
}

#cc-menu, .logo-menu {
    display: none;
}

.site__entete{

    .site__entete__nav{
        display: flex;
        justify-content: space-between;
    
        img{
            width: 3rem;
            height: 3rem;
        }

        .recherche {
            background-color: rgb(84, 84, 84);
            border-bottom: 7px solid rgb(249, 205, 205);

            .recherche__input {
                margin-top: 0.8rem;
                background-color: rgb(84, 84, 84);
                border-radius: 20px;
                border: 1px solid rgb(249, 205, 205);
                padding: 3px 5px;
                color: white;
            }

            .recherche__input:focus{
                outline: none;
                border: 1px solid white;
                background-color: rgba(249, 205, 205, 0.097);
            }

            .recherche__bouton {
                margin-right: 1rem;
                background-color: rgb(84, 84, 84);
                border: 0;
            }
        }

        .menu-entete-container .menu {
            display: flex;
            justify-content: space-around;
            background-color: rgb(84, 84, 84);
            border-bottom: 7px solid rgb(249, 205, 205);
            margin: 0;
            padding: 1rem;
        
            a:hover, a:visited, a:link, a:active
            {
                text-decoration: none;
                padding: 0.75rem;
                transition: 0.5s;
                overflow: hidden;
                position: relative;
            }

            a::before{
                content: '';
                position: absolute;
                background-color: rgb(249, 205, 205);
                width: 100%;
                height: 15%;
                top: 110%;
                left: 0;
                transition: 0.5s;
            }

            a:hover::before {
                transform: translateY(-5px);
            }
        
            li {
                list-style: none;
            }
        }
    }

    
    .site__entete__titre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
*/

/*
@media (max-width: 1020px) {

    #cc-menu {
        display: none;
    }

    .logo-menu {
        display: flex;
        cursor: pointer;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        color: rgb(240, 240, 240);
    }

    #cc-menu:checked ~ .menu-entete-container .menu {
        translate: -70vw;
    }

    #cc-menu:checked ~ .logo-menu {
        color: rgb(249, 205, 205);
    }

    .site__entete {

        .site__entete__nav {
            width: 100vw;
    
            .recherche {
                background-color: white;
                border: none;

                .recherche__input, .recherche__bouton {
                    background-color: white;
                }
            }

            .menu-entete-container .menu {
                flex-direction: column;
                align-items: center;
                height: 50vh;
                position: absolute;
                top: 15%;
                left: 0;
                transition: 0.8s;
        
                
                li {
                    padding: 0.5rem;
                    font-size: 1.5rem;
                }
        
                a::before{
                    display: none;
                }

            }
        }
    }
}

*/



