
// ************************************************* MENU ***************************** //

.logo-menu {
    grid-area: menu-burger;
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
    color: $coul-bleue;
    cursor: pointer;
}

#cc-menu {
    display: none;
}

// Pour gérer l'ouverture / fermeture du menu en mode mobile
#cc-menu:checked ~ .menu-entete-container .menu {
    transform: translateY(0);
    background-color: $coul-jaune;
    width: calc(100% + 1rem);
}

#cc-menu:checked ~ .logo-menu {
    color: $coul-bleue;
}

.site__entete {

    .site__entete__nav {
        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-template-areas: 
            "logo menu-burger recherche"
            "menu menu menu";
        background-color: $coul-jaune;
        padding-left: 1rem;

        img {
            grid-area: logo;
            width: 3rem;
            height: 3rem;
        }

        .menu-entete-container {
            grid-area: menu;
            position: relative;

            .menu  {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0.5rem;
                transform: translateY(-130%);
                transition: 0.5s;
                position: absolute;
                top: 0;
                left: -1rem;
                z-index: 100;

                a:hover, a:visited, a:link, a:active {
                    text-decoration: none;
                    padding: 0.75rem;
                    transition: 0.5s;
                    overflow: hidden;
                    position: relative;
                }

                li {
                    list-style: none;
                    padding: 0.5rem;
                }

                @media (min-width: $largeur__tablette) {
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 1rem;
                }

                @media (min-width: $largeur__bureau) {
                    // Pour gérer l'animation du hover en mode bureau
                    a::before {
                        content: '';
                        position: absolute;
                        background-color: $coul-bleue;
                        width: 100%;
                        height: 10px;
                        top: 130%;
                        left: 0;
                        border-radius: 8px 8px 0 0;
                        transition: 0.5s;
                    }
    
                    a:hover::before {
                        transform: translateY(-8px);
                    }
                }

                @media (min-width: $largeur__tablette) {
                    position: relative;
                    transform: translateY(0);
                }
            }
        }

    // ************************************************* RECHERCHE ***************************** //

        .recherche {
            grid-area: recherche;
            display: flex;
            align-items: center;
            width: 15rem;
            padding: 0 0.5rem;

            label {
                border: 2px solid $coul-bleue;
                border-radius: 50px;
                height: 1.5rem;
                width: 1.5rem;
                padding: 3.5px;
                display: flex;
                align-items: center;
                position: relative;
                transition: width 0.3s ease-in-out;
                overflow: hidden;

                .recherche__input {
                    flex-grow: 1;
                    width: 13rem;
                    border: 0;
                    padding: 1rem;
                    background-color: transparent;
                    color: $coul-mon-gris;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    cursor: pointer;

                    &:focus {
                        outline: 0;
                    }
                }

                .recherche__bouton {
                    cursor: pointer;
                    border: 0;
                    background-color: transparent;
                    color: $coul-bleue;
                    border-radius: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    font-size: 0.8rem;
                    margin-left: auto;
                    transition: 0.1s ease-in-out
                }

                &:focus-within {
                    width: 100%;

                    .recherche__input {
                        opacity: 1;
                        cursor: initial;
                    }

                    .recherche__bouton {
                        background-color: $coul-bleue;
                        color: $coul-jaune;
                    }
                }
            }
        }

        @media (min-width: $largeur__tablette) {
            grid-template-columns: auto 1fr;
            grid-template-areas: 
            "logo menu"
            "recherche recherche";
        }

        @media (min-width: $largeur__bureau) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border-bottom: 15px solid $coul-bleue;

            .menu-entete-container {
                flex: 1;
            }
        }
    }

    // ************************************************* TITRE ***************************** //

    .site__entete__titre {
        grid-area: titre;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $coul-jaune;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        
        h1, h2 {
            margin: 1rem 0 0 0;
        }
    }
}

@media (min-width: $largeur__tablette) {
    .logo-menu {
        display: none;
    }
}
