
// ************************************************* MENU ***************************** //
.menu-entete-container{
    flex: 1;
}

#cc-menu, .logo-menu {
    display: none;
}

.site__entete{

    .site__entete__nav{
        display: flex;
        justify-content: space-between;
    
        img{
            width: 3rem;
            height: 3rem;
        }

        .recherche {
            background-color: rgb(84, 84, 84);
            border-bottom: 7px solid rgb(249, 205, 205);

            .recherche__input {
                margin-top: 0.8rem;
                background-color: rgb(84, 84, 84);
                border-radius: 20px;
                border: 1px solid rgb(249, 205, 205);
                padding: 3px 5px;
                color: white;
            }

            .recherche__input:focus{
                outline: none;
                border: 1px solid white;
                background-color: rgba(249, 205, 205, 0.097);
            }

            .recherche__bouton {
                margin-right: 1rem;
                background-color: rgb(84, 84, 84);
                border: 0;
            }
        }

        .menu-entete-container .menu {
            display: flex;
            justify-content: space-around;
            background-color: rgb(84, 84, 84);
            border-bottom: 7px solid rgb(249, 205, 205);
            margin: 0;
            padding: 1rem;
        
            a:hover, a:visited, a:link, a:active
            {
                text-decoration: none;
                padding: 0.75rem;
                transition: 0.5s;
                overflow: hidden;
                position: relative;
            }

            a::before{
                content: '';
                position: absolute;
                background-color: rgb(249, 205, 205);
                width: 100%;
                height: 15%;
                top: 110%;
                left: 0;
                transition: 0.5s;
            }

            a:hover::before {
                transform: translateY(-5px);
            }
        
            li {
                list-style: none;
            }
        }
    }

    
    .site__entete__titre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 1020px) {

    #cc-menu {
        display: none;
    }

    .logo-menu {
        display: flex;
        cursor: pointer;
        font-size: 2rem;
        padding: 0.5rem 1rem;
        color: rgb(240, 240, 240);
    }

    #cc-menu:checked ~ .menu-entete-container .menu {
        translate: -70vw;
    }

    #cc-menu:checked ~ .logo-menu {
        color: rgb(249, 205, 205);
    }

    .site__entete {

        .site__entete__nav {
            width: 100vw;
    
            .recherche {
                background-color: white;
                border: none;

                .recherche__input, .recherche__bouton {
                    background-color: white;
                }
            }

            .menu-entete-container .menu {
                flex-direction: column;
                align-items: center;
                height: 50vh;
                position: absolute;
                top: 15%;
                left: 0;
                transition: 0.8s;
        
                
                li {
                    padding: 0.5rem;
                    font-size: 1.5rem;
                }
        
                a::before{
                    display: none;
                }

            }
        }
    }
}



