.menu-atelier-container {

    .menu {
        list-style-type: none;
        display: flex;
        column-gap: 1rem;
        padding: 0;

        a {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            text-decoration: none;
            height: 100%;
            background-color: var(--coul-principale);
            border-bottom-left-radius: 20px;

            &:hover .title::after {
                transform-origin: bottom;
                transform: scaleY(1.5);
            }

            span {
                background-color: var(--coul-fond-articles);
                box-sizing: border-box;  
            }
        
            .title {
                font-size: 1rem;
                order: 2;
                height: 5rem;
                padding: 1rem;
                border-bottom-left-radius: 20px;
                transition: 0.3s;
                position: relative;
                z-index: 100;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--coul-fond-articles);
                    transform-origin: bottom;
                    transform: scaleY(1);
                    transition: transform 0.3s ease-in-out;
                    z-index: -1;
                }
            }
        
            .menu-thumbnail {
                padding: 0.3rem;
                width: 5rem;
            }
        }
        
    }
}