.site__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    section {
        // border: 1px solid #a1d0d9;
        flex: 1 1 200px;
        margin-top: 5rem;
        padding: 0.5rem;
        height: 5rem;
        background-color: $coul-jaune;
    }
}