.site__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    section {
        border: 1px solid white;
        flex: 1 1 200px;
        margin-top: 5rem;
        padding: 0.5rem;
        height: 5rem;
        background-color: rgb(249, 205, 205);
    }
}