// Les balises qu'on utilise dans la conversion des fichiers markdown


li::marker {
    color: rgb(249, 205, 205);
}

li>ul>li::marker{
    content:"\2BC8  ";
    font-size: 0.6rem;
}

pre {
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 20px;
}

button.copy-the-code-button {
    background-color: red;
}
