
li::marker {
    color: white;
}

li>ul>li::marker{
    content:"\2BC8  ";
    font-size: 0.6rem;
}

.copy-the-code-wrap {
    width: 72vw;
    margin: 1rem;
}

pre {
    
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: auto;
}


